# How to parse LASICS XML file
**Summary**  

---

Import Required Packages

In [12]:
import pandas as pd
import xml.etree.ElementTree as ET
import io
from lxml import etree

In [3]:
fname = '2022-09-05-oneday.xml'

In [52]:
df = pd.read_xml(fname, xpath='/SPS_Plan/ScienceOpportunities/ScienceOpportunity')
exclude_columns = ['TargetName', 'TargetType', 'Priority','TargetStartTime', 'TargetEndTime']
df2 = (df.loc[:, ~df.columns.isin(exclude_columns)]).copy()
df2.columns = ['StartTime', 'EndTime', 'GUID']

In [53]:
df2

,StartTime,EndTime,GUID
0,2022-09-05T11:58:20.0,2022-09-05T11:58:31.0,0c5db32f-7d29-4623-aef0-739770be45c5
1,2022-09-05T13:30:51.0,2022-09-05T13:31:02.0,12f0e20a-b657-4abb-87cc-7c2c60121116

In [58]:
type(df2.StartTime)

pandas.core.series.Series

In [60]:
temp = df2.StartTime.copy()

In [61]:
temp

0    2022-09-05T11:58:20.0
1    2022-09-05T13:30:51.0
Name: StartTime, dtype: object

In [63]:
len(temp[0])

21

In [70]:
temp2 = [x[0:-2]+'Z' for x in temp]

In [71]:
temp2

['2022-09-05T11:58:20Z', '2022-09-05T13:30:51Z']

In [72]:
df2.StartTime = [x[0:-2]+'Z' for x in df2.StartTime]

In [73]:
df2

,StartTime,EndTime,GUID
0,2022-09-05T11:58:20Z,2022-09-05T11:58:31.0,0c5db32f-7d29-4623-aef0-739770be45c5
1,2022-09-05T13:30:51Z,2022-09-05T13:31:02.0,12f0e20a-b657-4abb-87cc-7c2c60121116

In [80]:
xml_fname = 'LASICS-SPS_20230223T013121_NOAA20-Aug22-Sept22.xml'
df = pd.read_xml(xml_fname, xpath='/SPS_Plan/ScienceOpportunities/ScienceOpportunity')
exclude_columns = ['TargetName', 'TargetStartTime', 'TargetEndTime', 'ReferenceName']
df2 = (df.loc[:, ~df.columns.isin(exclude_columns)]).copy()
df2.columns = [df.ReferenceName[0]+'_StartTime', df.ReferenceName[0]+'_EndTime']
df2.ISS_StartTime = [x[0:-2]+'Z' for x in df2.ISS_StartTime]
df2.ISS_EndTime = [x[0:-2]+'Z' for x in df2.ISS_EndTime]
df2

            ISS_StartTime           ISS_EndTime
0    2022-08-10T05:26:59Z  2022-08-10T05:29:49Z
1    2022-08-10T06:59:31Z  2022-08-10T07:02:21Z
2    2022-08-11T00:01:35Z  2022-08-11T00:01:59Z
3    2022-08-11T01:34:07Z  2022-08-11T01:37:03Z
4    2022-08-11T17:03:38Z  2022-08-11T17:04:50Z
..                    ...                   ...
113  2022-09-11T15:02:02Z  2022-09-11T15:04:54Z
114  2022-09-11T16:34:50Z  2022-09-11T16:37:26Z
115  2022-09-12T08:04:13Z  2022-09-12T08:07:01Z
116  2022-09-12T09:36:44Z  2022-09-12T09:39:32Z
117  2022-09-12T11:11:50Z  2022-09-12T11:12:03Z

[118 rows x 2 columns]

In [77]:
df.ReferenceName[0]

'ISS'